
**/__pycache__/
supplier_1_subscribe/.dapr
/__pycache__

product_details_publisher/.dapr
product_details_publisher/__pycache__

# Auto generated deploy dir inside .dapr directory
**/.dapr/deploy
# Auto generated logs dir inside .dapr directory
**/.dapr/logs

# macOS
.DS_Store

.vs/
.vscode/